<%- include("partials/header")-%>

<div class="content">
    <h1>Innerve(The Tech Fest Of IGDTUW)</h1>
    <p> Innerve is the only tech fest of IGDTUW that happens around the end of October.
        The fest has a lot to itself from having tech based games made by IGDTUWites themselves to informal
        games. The best part about the fest is more than 300 students working for more than 2 months to bring
        all of this successfully on the table for all the guests of Innerve.
    </p>
    <h3>SEE YOU AT THE FEST</h3>
    <div class="registerButton">
    <a href="/register">Register for the fest</a>
    
</div>
</div>



