
<div class="ticket">
    <img src="./images/logo.jpg">
    <h1>Entry Ticket</h1>
    <h3>This Ticket Provides entry to</h3>
    <h2><%=name%></h2>
    <h3>of college</h3>
    <h2><%=college%></h2>
    <h3>to Innerve 2022</h3>
    

</div>
<%-include("partials/footer")-%>