<%-include("partials/header")-%>
<div class="form">
    <form action="/ticket" method="post">
        <h1>Export Your Ticket</h1>
        <Label>Email</Label>
        <input type="email" name="email" placeholder="Enter email"><br>
        <Label>Password</Label>
        <input type="password" name="password" placeholder="Enter password"><br>
        <button type="submit">Get Ticket</button>

    </form>
</div>

